<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <h2> Nouveau Post </h2>
    <form [formGroup]="postForm" (submit)="onSubmit()" >
      <div class="form-group">
        <label for="title">Titre</label>
        <input type="text" id="title" formControlName="title" class="form-control">
      </div>
      <div class="form-group">
        <label for="content">Contenu</label>
        <textarea id="content" formControlName="content" cols="30" rows="10" class="form-control"></textarea>
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="postForm.invalid"  > Enregistrer </button>
    </form>
  </div>
</div>
